{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oda al Jorge</title>
</head>

<body>
    <div>
        <center><h1>Oda al Jorge</h1></center>
    </div>
    <div>
        <center><img src="{% static 'media/image1.png' %}" width='450px' alt='My image'></center>;  
    </div>
    <div>
        <center><img src="{% static 'media/image2.png' %}" width='450px' alt='My image'></center>;  
    </div>
    <div>
        <center><img src="{% static 'media/image3.png' %}" width='450px' alt='My image'></center>;  
    </div>
    <div>
        <center><img src="{% static 'media/image4.png' %}" width='450px' alt='My image'></center>;  
    </div>
    <div>
        <center><img src="{% static 'media/image5.png' %}" width='450px' alt='My image'></center>;  
    </div>
    
</body>

</html>