{% extends 'header.html' %}
{% load static %}

<!--agregar contenido del block (body)-->

{% block content %}
    <div>
        <center><img class="mt-2" src="{% static 'media/imagen_inicio.PNG' %}" width='65%' height='auto' alt='inicio'></center>  
    </div>
    <div class="col-lg-6 offset-lg-3 mt-5">
        <div class="accordion" id="inicio">
            <div class="accordion-item">
                <h2 class="accordion-header" id= "headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        El juego de combate de cartas y heroes mas adictivo
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#inicio">
                    <div class="accordion-body">
                        <p>Combate de cartas por turnos en donde utilizas cartas tematicas para combatir con enemigos CPU.</p>
                    </div>
                </div>    
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id= "headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        VARIEDAD DE HEROES
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#inicio">
                    <div class="accordion-body">
                        <p>Desde caricaturas, personas reales, memes hasta anime podras adquirir como heroe que te representara en cada combate por medio del sistema gacha!</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>

  
  
{% endblock %}